.responsive-menu {
  background-color: whitesmoke;

  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.5s;
}

.menu-open {
  transform: translateX(0);
}
