<nav class="{{ include.navClass }}">
  <p class="nav__p">Dan's Shop</p>
  <ul class="nav--desktop">
    <li class="nav--desktop__li"><a class="nav--desktop__a"href="/#home">Home</a></li>
    <li class="nav--desktop__li"><a class="nav--desktop__a" href="/#shop">Shop</a></li>
    <li class="nav--desktop__li"><a class="nav--desktop__a" href="/#about">About</a></li>
    <li class="nav--desktop__li"><a class="nav--desktop__a" href="faq.html">FAQ</a></li>
    <li class="nav--desktop__li"><a class="nav--desktop__a" href="/#contact">Contact</a></li>
  </ul>
  {% include svg/responsive-menu.svg %}
</nav>

<div class="responsive-menu">
  <ul class="nav--responsive">
    <li class="nav--responsive__li"><a class="nav--responsive__a" href="/#home">Home</a></li>
    <li class="nav--responsive__li"><a class="nav--responsive__a" href="/#shop">Shop</a></li>
    <li class="nav--responsive__li"><a class="nav--responsive__a" href="/#about">About</a></li>
    <li class="nav--responsive__li"><a class="nav--responsive__a" href="faq.html">FAQ</a></li>
    <li class="nav--responsive__li"><a class="nav--responsive__a" href="/#contact">Contact</a></li>
  </ul>
</div>
