<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }} · {% endif %}Dan's Shop{% if page.title-after %} · {{ page.title-after }}{% endif %}</title>
  <!-- open sans font cdn -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <!-- jquery cdn -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <!-- snipcart cdn -->
  <!-- snipcart js -->
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NmExODc2OTQtMzY4ZS00YzMwLWEwYTMtMzY4YTYzNTNkMjExNjM2NTcxNjYwMDgzNjUyOTIy"></script>
  <!-- snipcart css -->
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
  <!-- custom css -->
  <link rel="stylesheet" href="css/main.css">
  <!-- custom js -->
  <script src="js/main.js" defer></script>
</head>
<body>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
